<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fitness Goals</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- List code Start -->
		<style>
			body {
				margin: 0;
				min-width: 250px;
			}

			/* Include the padding and border in an element's total width and height */
			* {
				box-sizing: border-box;
			}

			/* Remove margins and padding from the list */
			ul {
				margin: 0;
				padding: 0;
			}

			/* Style the list items */
			ul li {
				cursor: pointer;
				position: relative;
				padding: 12px 8px 12px 40px;
				list-style-type: none;
				background: #eee;
				font-size: 18px;
				transition: 0.2s;

				/* make the list items unselectable */
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			/* Set all odd list items to a different color (zebra-stripes) */
			ul li:nth-child(odd) {
				background: #f9f9f9;
			}

			/* Darker background-color on hover */
			ul li:hover {
				background: #ddd;
			}

			/* When clicked on, add a background color and strike out text */
			ul li.checked {
				background: #888;
				color: #fff;
				text-decoration: line-through;
			}

			/* Add a "checked" mark when clicked on */
			ul li.checked::before {
				content: '';
				position: absolute;
				border-color: #fff;
				border-style: solid;
				border-width: 0 2px 2px 0;
				top: 10px;
				left: 16px;
				transform: rotate(45deg);
				height: 15px;
				width: 7px;
			}

			/* Style the close button */
			.close {
				position: absolute;
				right: 0;
				top: 0;
				padding: 12px 16px 12px 16px;
			}

			.close:hover {
				background-color: #f44336;
				color: white;
			}

			/* Style the header */
			.header {
				background-color: #f44336;
				padding: 30px 40px;
				color: white;
				text-align: center;
			}

			/* Clear floats after the header */
			.header:after {
				content: '';
				display: table;
				clear: both;
			}

			/* Style the input */
			input {
				margin: 0;
				border: none;
				border-radius: 0;
				width: 75%;
				padding: 10px;
				float: left;
				font-size: 16px;
			}

			/* Style the "Add" button */
			.addBtn {
				padding: 10px;
				width: 25%;
				background: #d9d9d9;
				color: #555;
				float: left;
				text-align: center;
				font-size: 16px;
				cursor: pointer;
				transition: 0.3s;
				border-radius: 0;
			}

			.addBtn:hover {
				background-color: #bbb;
			}
		</style>
		<!-- List code End -->
	</head>
	<body>
		<header class="text-gray-600 body-font">
			<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
				<a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
					<img src="./images/logo.png" alt="AGB_logo" class="w-20 h-15" />
				</a>
				<nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center font-bold">
					<a class="mr-5 hover:text-gray-900 hover:border-b-2 hover:border-black cursor-pointer p-2" href="/about">About Us</a>
					<a class="mr-5 hover:text-gray-900 border-b-2 border-black cursor-pointer p-2" href="/wellness">Wellness</a>
					<a class="mr-5 hover:text-gray-900 hover:border-b-2 hover:border-black cursor-pointer p-2" href="/manager">Staff</a>
				</nav>

				<a class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 mx-5 bg-[#04fbeb] hover:bg-[#29ddd4]" href="/logout">
					Log Out
					<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
						<path d="M5 12h14M12 5l7 7-7 7"></path>
					</svg>
				</a>
			</div>
		</header>
		<main class="mx-28">
			<section class="flex flex-col space-y-10">
				<h1 class="text-4xl font-bold text-center">Fitness Goals</h1>
				<p class="text-center">
					The company is committed to your health and happiness, not just at work but in your personal life too. To help achieve this goal we have setup a program of activities so you can
					keep healthy and have fun here at work. We may even provide some goodies from time to time to help you out. Please take the time to read through the wellness plan and familiarise
					yourself with our goals and how we are going to meet them. We look forward to working together towards healthier happier lives.
				</p>
			</section>
			<section class="bg-[url('./images/mental_healthBg.jpg')] bg-cover bg-center min-h-fit h-full w-full space-y-10 mt-10">
				<section class="text-gray-600 body-font w-full h-[100vh] space-y-10">
					<!-- goals section -->
					<section class="space-y-5">
						<div class="flex flex-col space-y-5 bg-black rounded-md bg-opacity-30 p-5 backdrop-blur-lg">
							<h2 class="text-2xl mx-auto text-white font-bold">Goal List</h2>

							<!-- goal template -->
                            {{#goals}}
							<div class="flex space-x-5 bg-white mx-auto p-5 rounded-md font-semibold w-full justify-center">
								<!-- Date -->
								<div class="flex flex-col space-y-2 w-1/4 justify-center">
									<div class="flex space-x-2">
										<!-- format dd-mm-yyyy -->
										<p class="font-bold">From:</p>
										<p>{{start}}</p>
									</div>
									<div class="flex space-x-2">
										<p class="font-bold">To:</p>
										<p>{{end}}</p>
									</div>
								</div>
								<!-- Goal -->
								<div class="my-auto w-1/4 text-center"><p>{{goal}}</p></div>
								<!-- ID -->
								<div class="my-auto w-1/4 text-center">
									<p>{{_id}}</p>
								</div>
								<!-- Completed -->
								<div class="my-auto w-1/4 mx-auto"><img src="./images/check-mark.png" alt="check-mark" class="w-10 h-10" /></div>
							</div>
                            {{/goals}}
							<!-- Buttons -->
							<div class="flex">
								<div class="mx-auto space-x-5">
									<a class="py-1 px-2 bg-[#04fbeb] hover:bg-[#29ddd4] rounded-md inline-flex cursor-pointer" href="/addGoal">
											<img src="/images/add.png" alt="add_icon" class="w-5 h-5 mr-2 my-auto" />
											Add
										</a>
										<a class="py-1 px-2 bg-[#04fbeb] hover:bg-[#29ddd4] rounded-md inline-flex cursor-pointer" href="/removeGoal">
											<img src="/images/trash.png" alt="add_icon" class="w-5 h-5 mr-2 my-auto" />
											Remove
										</a>
										<a class="py-1 px-2 bg-[#04fbeb] hover:bg-[#29ddd4] rounded-md inline-flex cursor-pointer" href="/updateGoal">
											<img src="./images/refresh.png" alt="add_icon" class="w-5 h-5 mr-2 my-auto" />
											Update
										</a>
								</div>
							</div>
						</div>
					</section>

					<!-- Highlights -->
					<section>
						<div class="md:grid md:grid-cols-2 grid grid-cols-1 gap-4 bg-black rounded-md bg-opacity-30 p-5 backdrop-blur-lg h-full">
							<div class="cols-span-1 p-2 w-full bg-[url('./images/boxing.jpg')] bg-cover bg-center bg-no-repeat rounded-md h-52 w-full border border-white"></div>
							<div class="cols-span-1 p-2 w-full text-white"> <h2 class="text-2xl font-bold text-center">Shadow Boxing</h2> <p> We have created a program called "Fight Club" where employees who want to participate can do so. The program includes a variety of activities, the most important being shadow boxing which will be conducted via zoom and the instructor will be a professional boxer.</p></div>
						</div>
					</section>
					<section>
						<div class="md:grid md:grid-cols-2 grid grid-cols-1 gap-4 bg-black rounded-md bg-opacity-30 p-5 backdrop-blur-lg h-full">
							<div class="md:hidden cols-span-1 p-2 w-full bg-[url('./images/mental_health2.jpg')] bg-cover bg-[center_top_25%] bg-no-repeat rounded-md h-52 w-full border border-white"></div>
							<div class="cols-span-1 p-2 w-full text-white"> <h2 class="text-2xl font-bold text-center">Aerobics</h2> <p> At Agb, we believe that aerobics is an important part of a healthy lifestyle. We've been incorporating it into our employees' lives for years, and now it's time to show them how much they can benefit from it.
We'll be holding a series of classes for all employees at the gym.</p></div>
							<div class="hidden md:block cols-span-1 p-2 w-full bg-[url('./images/mental_health2.jpg')] bg-cover bg-[center_top_25%] bg-no-repeat rounded-md h-52 w-full border border-white"></div>
						</div>
					</section>
					<div class="flex">
			<!-- Copyright -->
			<p class="mx-auto font-bold">&copy AGB 2022</p>
		</div>
				</section>
			</section>
		</main>
		
	</body>
</html>
