<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Manager View</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<header class="text-gray-600 body-font">
			<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
				<a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
					<img src="/logo" alt="AGB_logo" class="w-20 h-15" />
				</a>
				<nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center font-bold">
					<a class="mr-5 hover:text-gray-900 hover:border-b-2 hover:border-black cursor-pointer p-2" href="/">About Us</a>
					<a class="mr-5 hover:text-gray-900 hover:border-b-2 hover:border-black cursor-pointer p-2" href="/wellness">Wellness</a>
					<a class="mr-5 hover:text-gray-900 border-b-2 border-black cursor-pointer p-2" href="#">Staff</a>
				</nav>

				<a class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 mx-5 bg-[#04fbeb] hover:bg-[#29ddd4]" href="/">
					Log Out
					<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
						<path d="M5 12h14M12 5l7 7-7 7"></path>
					</svg>
				</a>
			</div>
		</header>
		<main class="w-full h-[80vh]">
			<div class="bg-[url('./manager_bg')] bg-cover bg-center h-full">
				<div class="flex flex-col mx-80 mt-10">
					<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
						<div class="py-4 inline-block min-w-full sm:px-6 lg:px-8 bg-[#000000] rounded-md bg-opacity-[.45] backdrop-blur-md">
							<div class="overflow-hidden">
								<table class="min-w-full text-center">
									<h1 class="text-4xl font-bold text-center my-5 text-white">Staff Details</h1>
									<thead class="border-b bg-gray-800">
										<tr>
											<th scope="col" class="text-sm font-medium text-white px-6 py-4">Employee ID</th>
											<th scope="col" class="text-sm font-medium text-white px-6 py-4">Full Name</th>
											<th scope="col" class="text-sm font-medium text-white px-6 py-4">Job Title</th>
										</tr>
									</thead>
									<tbody>
                                    {{#employees}}
										<tr class="bg-white border-b">
											<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{_id}}</td>
											<td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{fname}}</td>
											<td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{Job_Title}}</td>
										</tr>
                                        {{/employees}}
									</tbody>
								</table>
								<div class="flex mt-4">
									<div class="mx-auto space-x-6 font-bold text-white">
										<a class="py-1 px-2 bg-[#04fbeb] hover:bg-[#29ddd4] rounded-md inline-flex cursor-pointer" href="/managerAdd">
											<img src="./add-icon" alt="add_icon" class="w-5 h-5 mr-2 my-auto" />
											Add
										</a>
										<a class="py-1 px-2 bg-[#04fbeb] hover:bg-[#29ddd4] rounded-md inline-flex cursor-pointer" href="/managerRemove">
											<img src="./trash-icon" alt="add_icon" class="w-5 h-5 mr-2 my-auto" />
											Remove
										</a>
										<a class="py-1 px-2 bg-[#04fbeb] hover:bg-[#29ddd4] rounded-md inline-flex cursor-pointer" href="/managerUpdate">
											<img src="./update-icon" alt="add_icon" class="w-5 h-5 mr-2 my-auto" />
											Update
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
